@tailwind base;

@layer base {
  ul {
    @apply list-disc;
    @apply list-inside;
    @apply leading-7;
    @apply mx-4;
  }
}

@tailwind components;

@layer components {
  .section {
    @apply container;
    @apply mx-auto;

    @apply my-12;
    @apply sm:my-36;
  }

  .section > h1 {
    @apply text-4xl;
    @apply font-bold; 
    @apply text-orange;

    @apply mb-12;
    @apply sm:mb-20;
  }

  .social-logo {
    @apply aspect-square;
    width: 4rem;
  }

  .social-logo svg {
    width: 100%;
    height: 100%;
  }

  .social-logo :not(svg:hover path, svg:hover circle) {
    fill: theme("colors.base0") !important;
  }

  .menu-container-desktop {
    display: none;
  }

  .menu-container-desktop > ul {
    @apply list-none;
    display: flex;
  }

  .menu-container-desktop > ul > li {
    @apply text-2xl;
    @apply font-bold;
    @apply pl-10;
  }

  .menu-container-desktop > ul > li > a:hover {
    color: theme("colors.orange");
  }

  .menu-container-mobile {
    display: none;
  }

  .menu-container-mobile > ul {
    @apply list-none;
    @apply mx-0;
  }

  @media screen(sm) {
    .menu-container-desktop {
      display: block;
    }

    .menu-container-mobile {
      display: none;
    }
  }

  a.text-link {
    color: theme("colors.orange");
    border-bottom: 1px solid theme("colors.orange");
    padding-bottom: 3px;
    /* text-decoration: underline; */
  }

  a.text-link:hover {
    opacity: 0.8;
  }

  .cta {
    @apply border-2;
    @apply border-orange;
    @apply text-orange;
    @apply text-2xl;
    @apply font-bold;
    @apply inline-block;
  }

  .cta:hover {
    @apply bg-orange;
    @apply text-base03;
  }
}

@tailwind utilities;
