@tailwind base;

@tailwind components;

@layer components {
  .menu-container-desktop {
    display: none;
  }

  .menu-container-desktop > ul {
    display: flex;
  }

  .menu-container-desktop > ul > li {
    @apply text-2xl;
    padding-right: 2.5rem;
  }

  .menu-container-mobile {
    display: none;
  }

  @media screen(sm) {
    .menu-container-desktop {
      display: block;
    }

    .menu-container-mobile {
      display: none;
    }
  }
}

@tailwind utilities;
