@tailwind base;

@layer base {
  ul {
    @apply list-disc;
    @apply list-inside;
    @apply leading-7;
    @apply mx-4;
    white-space: nowrap;
  }
}

@tailwind components;

@layer components {
  .aspect-ratio-box {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
  }

  .aspect-ratio-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .section {
    @apply container;
    @apply mx-auto;

    @apply my-12;
    @apply md:my-20;
    @apply lg:my-36;
  }

  .section > h1 {
    @apply text-4xl;
    @apply font-bold;
    /* @apply text-orange; */

    @apply mb-12;
    @apply lg:mb-20;
  }

  .social-logo {
    @apply aspect-square;

    @apply w-12;
    @apply md:w-16;
  }

  .social-logo svg {
    width: 100%;
    height: 100%;
  }

  .menu-container-desktop {
    display: none;
  }

  .menu-container-desktop > ul {
    @apply list-none;
    display: flex;
  }

  .menu-container-desktop > ul > li {
    @apply md:text-xl;
    @apply lg:text-2xl;
    @apply font-bold;
    @apply pl-7;
    @apply lg:pl-10;
  }

  .menu-container-mobile {
    display: none;
  }

  .menu-container-mobile > ul {
    @apply list-none;
    @apply mx-0;
  }

  @media screen(md) {
    .menu-container-desktop {
      display: block;
    }

    .menu-container-mobile {
      display: none;
    }
  }

  a.text-link {
    padding-bottom: 3px;
  }

  a.text-link:hover {
    opacity: 0.8;
  }

  .cta {
    @apply border-2;
    @apply text-2xl;
    @apply font-bold;
    @apply inline-block;
  }
}

@tailwind utilities;
