@tailwind base;

@layer base {
  ul.colored-bullets {
    @apply leading-4 ;
    @apply mr-12;
    list-style: none;
  }

  ul.colored-bullets li::before {
    @apply mx-4 ;
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: theme('colors.orange'); /* Change the color */
    width: 2rem; /* Also needed for space (tweak if needed) */
  }
}

@tailwind components;

@layer components {
  .menu-container-desktop {
    display: none;
  }

  .menu-container-desktop > ul {
    display: flex;
  }

  .menu-container-desktop > ul > li {
    @apply text-2xl;
    @apply font-bold;
    @apply pl-10;
  }

  .menu-container-mobile {
    display: none;
  }

  @media screen(sm) {
    .menu-container-desktop {
      display: block;
    }

    .menu-container-mobile {
      display: none;
    }
  }
}

@tailwind utilities;
